body {
    font-family: Arial, sans-serif;
    background-color: #FEA1A1;
    padding: 20px;
    color: #867070;
}

h1 {
    text-align: center;
    color: #F0EDD4;
}

button {
    background-color: #F0EDD4;
    border: solid #867070;
    color: #867070;
}

.post {
    background-color: #F9FBE7;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}